In [7]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

In [8]:
type(data)

dict

In [9]:
df = pd.DataFrame(data)  #dataframe -> 2차원 배열
df

NameError: name 'pd' is not defined

In [ ]:
type(df)

In [ ]:
series = df['이름'][0:5]  #series type
type(series)

In [ ]:
df2 = df[['이름', '학교', '키']][0:6] 
df2

In [ ]:
df2.shape  #(row, col)
#series.

In [ ]:
df3 = pd.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'])
df3[['이름', '키', 'SW특기']]['1번':'5번']

In [ ]:
import pandas as pd